.wip-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
/* src/app/wip/wip.css */
.wip-container {
  max-width: 38vw;
  margin: 9rem auto 3rem;
  padding: 2.5rem 3rem;
  padding-bottom: 10rem;
  padding-top: 10rem;
  background-color: #131313;
  border-radius: 1rem;
  box-shadow: 0 0 10px #161616, inset 0 0 10px #0f0f0f;
  outline: 2px solid #2e2e2e;
  text-align: center;
}
.wip-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px #141414;
}

.wip-container p {
  font-size: 1.1rem;
  color: #c7c7c7;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px #141414;
}

.wip-container p a {
    color:#fc0000;
}

.wip-container p a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .wip-container {
    width: 100%;
    margin: 8rem 0 4rem 0;
    padding: 6rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .wip-container h1 {
    font-size: 6vw;
  }
  .wip-container p {
    font-size: 4vw;
  }
}